<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v11.1, Version=11.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v11.1, Version=11.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v11.1, Version=11.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v11.1, Version=11.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="Seguridad2017Entities" connectionString="metadata=res://*/Model.SeguridadModel.csdl|res://*/Model.SeguridadModel.ssdl|res://*/Model.SeguridadModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\MSSQLSERVER2016;Initial Catalog=grtpaque_Seguridad;User ID=grtpaque_admin;Password=K1n1chjana8!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  <add name="Seguridad2017Entities" connectionString="metadata=res://*/Model.SeguridadModel.csdl|res://*/Model.SeguridadModel.ssdl|res://*/Model.SeguridadModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-8U49RG5\MSSQLSERVER2016;Initial Catalog=Seguridad;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ENCRIPTAR_PASSWORD"  value="1" />
    <add key="APLICACION_ID"  value="6" />
    <add key="CODIGO_OPCION_MENU_DEFAULT"  value="000" />
    <add key="RUTA_REGRESO_CAMBIO_PASSWORD"  value="~/InicioSesion.aspx" />
    
  </appSettings>
  <location path="TodosUsuarios">
    <system.web>
      <authorization>
        <allow users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="DevExpress.Web.ASPxEditors.v11.1, Version=11.1.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.v11.1, Version=11.1.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="DevExpress.Data.v11.1, Version=11.1.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <httpRuntime executionTimeout="240" maxRequestLength="40480"/>
    <globalization uiCulture="es" culture="es-MX"/>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <authentication mode="Forms">
      <!--Se define la pagina de inicio de sesión y la pagina de inicio del sistema-->
      <forms loginUrl="InicioSesion.aspx" defaultUrl="~/Default.aspx"/>
    </authentication>
    <membership defaultProvider="SuiteMembershipProvider" userIsOnlineTimeWindow="20">
      <providers>
        <clear/>
        <add name="SuiteMembershipProvider" type="Seguridad.Clases.SuiteMembershipProvider" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" enablePasswordReset="true"/>
      </providers>
    </membership>
    <!--Se define la llave de validacion, se debe usar la misma en todos los sistemas de la suite para que la sesión se propague-->
    <machineKey validationKey="E3709E04DFDA721AE7DB568FF82F14DD170C64390B026EB4607481980901DEB58A1D044FB89C185559440B37B402334D76BBFCCE96B96D51DC9574E407463B2E" decryptionKey="3EE2AED4DE64EA9B67F89898252151D4E7EFB8ED8BDCAEB081F595BB9AA111D7" validation="SHA1" decryption="AES"/>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.1, Version=11.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.1, Version=11.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
  <devExpress>
    <settings rightToLeft="false"/>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false"/>
    <themes enableThemesAssembly="true"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
</configuration>
