<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="Seguridad2017Entities" connectionString="metadata=res://*/Model.SeguridadModel.csdl|res://*/Model.SeguridadModel.ssdl|res://*/Model.SeguridadModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;workstation id=hojalateria.mssql.somee.com;packet size=4096;user id=javimtz2_SQLLogin_1;pwd=t9ohviommp;data source=hojalateria.mssql.somee.com;persist security info=False;initial catalog=hojalateria&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Seguridad2017Entities" connectionString="metadata=res://*/Model.SeguridadModel.csdl|res://*/Model.SeguridadModel.ssdl|res://*/Model.SeguridadModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-8U49RG5\MSSQLSERVER2016;Initial Catalog=Seguridad;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="Prep_Con" connectionString="workstation id=webService.mssql.somee.com;packet size=4096;user id=javimtz_SQLLogin_1;pwd=83qnjgl8in;data source=webService.mssql.somee.com;persist security info=False;initial catalog=webService" />-->
  </connectionStrings>
  <appSettings>
    <add key="ENCRIPTAR_PASSWORD" value="1" />
    <add key="APLICACION_ID" value="6" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
    <compilation>
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>